@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(214.29, 31.82%, 91.37%);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.hd-txt {
  font-family: "Permanent Marker";
  font-size: 4.2em;
  font-weight: bold;
  margin: 0.3em;
  margin-top: 0.14em;
}

.playerNames {
  font-family: "Outfit", Roboto, sans-serif;
  margin: auto;
  position: static;
  top: -5em;
  height: 60vh;
  width: 30vw;
  border-radius: 25px;
}

form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
form p {
  display: flex;
  flex-direction: column;
}
form input {
  border-radius: 15px;
  border: 2px solid black;
  padding: 0.5em 2em;
  font-size: 15px;
}
form label {
  font-size: 20px;
  font-weight: bold;
}

.start {
  padding: 1em 2em;
  border-radius: 20px;
  cursor: pointer;
}

.board {
  display: grid;
  grid-template-rows: repeat(3, 135px);
  grid-template-columns: repeat(3, 135px);
  gap: 0.8em;
}

.cell {
  border: 3px solid black;
  border-radius: 19px;
  cursor: pointer;
  font-size: 47px;
  font-weight: bold;
  font-family: "Permanent Marker", Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell:hover {
  background-color: hsl(221, 21%, 83%);
}
.cell:active {
  background-color: hsl(214.29, 31.82%, 91.37%);
}

.hidden {
  display: none;
}

.gameMessageDialog {
  margin: auto;
  height: 15em;
  width: 24em;
  padding: 2em;
  position: static;
  top: -8em;
  border-radius: 20px;
}
.gameMessageDialog::backdrop {
  opacity: 0;
}

.gameMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  font-size: 20px;
}

.playAgain {
  margin-top: auto;
  padding: 0.5em 1em;
  border-radius: 15px;
  border: 2px solid black;
  font-size: 17px;
  cursor: pointer;
}

.currentPlayer {
  font-family: "Outfit", Roboto, sans-serif;
  font-style: normal;
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

.highlightWinner {
  background-color: lightskyblue;
}

.reset,
.changeName {
  font-family: "Outfit", Roboto, sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 0.4em 0.9em;
  margin-top: 2em;
  cursor: pointer;
}