@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 6%);
  user-select: none;
}

.hd-txt {
  color: hsl(267, 96%, 67%);
  font-family: "Permanent Marker", Roboto, sans-serif;
  font-size: 4.4em;
  font-weight: bold;
  font-style: normal;
  margin: 0.3em;
  margin-top: 0.14em;
  text-shadow: 2px 4px 8px rgba(152, 92, 255, 0.6);
}

.playerNames {
  font-family: "Outfit", Roboto, sans-serif;
  color: hsl(262, 100%, 68%);
  margin: auto;
  position: static;
  top: -3em;
  height: 50.5vh;
  width: 27vw;
  border-radius: 27px;
  user-select: none;
  backdrop-filter: blur(4px) saturate(175%);
  -webkit-backdrop-filter: blur(4px) saturate(175%);
  background-color: hsla(0, 0%, 10%, 0.71);
  border: 2px solid hsl(262, 100%, 68%);
  &::backdrop {
    opacity: 1;
  }
}

form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  p {
    display: flex;
    flex-direction: column;
  }
  input {
    border-radius: 15px;
    border: 2px solid hsl(262, 100%, 68%);
    padding: 0.5em 2em;
    font-size: 15px;
    background-color: hsla(0, 0%, 10%, 0.71);
    outline: none;
    color: hsl(262, 100%, 68%);
    &:focus {
      border: 2px solid hsl(262, 100%, 59%);
    }
  }
  label {
    font-size: 22px;
    font-weight: bold;
  }
}

.start {
  padding: 1em 2em;
  border-radius: 20px;
  color: hsl(262, 100%, 68%);
  margin-top: 2em;
  font-weight: bold;
  background-color: hsla(0, 0%, 10%, 0.71);
  outline: none;
  border: 2px solid hsl(262, 100%, 68%);
  font-size: 15px;
  cursor: pointer;
  &:hover {
    -webkit-box-shadow: 0px 0px 15px 1px rgba(152, 92, 255, 0.79);
    -moz-box-shadow: 0px 0px 15px 1px rgba(152, 92, 255, 0.79);
    box-shadow: 0px 0px 15px 1px rgba(152, 92, 255, 0.79);
    background-color: hsl(262, 100%, 68%);
    color: #121212;
    transform: scale(1.08);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.1s ease-in;
  }
  &:active {
    transform: scale(0.9);
    transition: transform 0.1s ease-in;
    background-color: hsl(262, 100%, 73%);
  }
}

.board {
  background-color: #1f1f1f;
  display: grid;
  grid-template-rows: repeat(3, 135px);
  grid-template-columns: repeat(3, 135px);
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 33px 2px rgba(152, 92, 255, 0.79);
  -moz-box-shadow: 0px 0px 33px 2px rgba(152, 92, 255, 0.79);
  box-shadow: 0px 0px 33px 2px rgba(152, 92, 255, 0.79);
}

.cell {
  color: hsl(262, 100%, 68%);
  cursor: pointer;
  font-size: 49px;
  font-weight: bold;
  font-family: "Permanent Marker", Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: hsl(0, 0%, 19%);
  }
  &:active {
    background-color: hsl(0, 0%, 10%);
  }
  &:nth-of-type(1) {
    border-top-left-radius: 15px;
  }
  &:nth-of-type(3) {
    border-top-right-radius: 15px;
  }
  &:nth-of-type(7) {
    border-bottom-left-radius: 15px;
  }
  &:nth-of-type(9) {
    border-bottom-right-radius: 15px;
  }
}

.gameMessageDialog {
  font-family: "Outfit", Roboto, sans-serif;
  margin: auto;
  height: 15em;
  width: 24em;
  padding: 2em;
  position: static;
  top: -8em;
  border-radius: 27px;
  user-select: none;
  backdrop-filter: blur(4px) saturate(175%);
  -webkit-backdrop-filter: blur(4px) saturate(175%);
  background-color: hsla(0, 0%, 10%, 0.71);
  border: 2px solid hsl(262, 100%, 68%);
  color: hsl(262, 100%, 68%);
  &::backdrop {
    opacity: 1;
  }
}

.gameMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  font-size: 25px;
  font-weight: bold;
}

.playAgain {
  margin-top: 2em;
  padding: 0.5em 1em;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  color: hsl(262, 100%, 68%);
  background-color: hsla(0, 0%, 10%, 0.71);
  border: 2px solid hsl(262, 100%, 68%);
  &:focus {
    outline: none;
  }
  &:hover {
    -webkit-box-shadow: 0px 0px 33px 2px rgba(152, 92, 255, 0.79);
    -moz-box-shadow: 0px 0px 33px 2px rgba(152, 92, 255, 0.79);
    box-shadow: 0px 0px 33px 2px rgba(152, 92, 255, 0.79);
  }
  &:active {
    transform: scale(0.9);
    transition: transform 0.1s ease-in;
    background-color: hsl(262, 100%, 73%);
  }
}

.currentPlayer {
  color: hsl(266.95deg 95.16% 68.69%);
  font-family: "Outfit", Roboto, sans-serif;
  font-style: normal;
  font-size: 1.6em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

.highlightWinner {
  color: lightskyblue;
}

.btm-row {
  display: flex;
  justify-content: center;
  gap: 0.8em;
}

.reset,
.changeName {
  font-family: "Outfit", Roboto, sans-serif;
  font-size: 17.7px;
  font-weight: bold;
  color: hsl(262, 100%, 68%);
  padding: 0.4em 0.9em;
  margin-top: 2.2em;
  background-color: #121212;
  border: 2px solid hsl(262, 100%, 68%);
  border-radius: 20px;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:hover {
    transform: scale(1.1);
    background-color: hsl(262, 100%, 68%);
    color: #121212;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, transform 0.1s ease-in;
  }
  &:active {
    transform: scale(0.9);
    transition: transform 0.1s ease-in;
    background-color: hsl(262, 100%, 73%);
  }
}

.btm-right {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.btm {
  border-bottom: 3px solid black;
}

.right {
  border-right: 3px solid black;
}
